<form name="passform">
<script type="text/javascript">
function randomPassword(length){ chars = "3Hp#DϜe!Lρω7)F4aΓ+Ḳs:l/MP(ØBЗ8Σ*9R-X]TΛ~VṨ@Yz+J6Δ[I%j0?W$ЯGИQ5β.U"; pass = "";
for(x=0;x<length;x++){i = Math.floor(Math.random()*60); pass += chars.charAt(i);}return pass;}
function formSubmit(){passform.passbox.value = randomPassword(passform.length.value);}
</script>
<tr><td valign="top"><input type=text class="passogen"  name="passbox"  readonly="readonly"/><input name="length" value="18" type="hidden"/></td></tr>
<tr><td>
</td></tr><tr>
<td width="15%"><input type="button" class="button" value="Générer" onclick="javascript:formSubmit()"  /></td>
</tr>
